@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-dark-main: #0D0D0D;
    --color-dark-contrast: #1A1A1A;
    --color-dark-detail: #242424;

    --color-primary: #7B4DD0;            /* roxo principal para destaques */
    --color-primary-hover: #6C3AB8;      /* hover roxo mais intenso */
    --color-accent-light: #9A6CFC;       /* roxo neon mais suave para efeitos */
    --color-accent-neon: #8A2EFF;

    --color-tech-neon: #00FFFF;
    --color-tech-edge: #FF00FF;
    --color-tech-electric: #3B82F6;

    --font-title: "Orbitron", sans-serif;
    --font-body: "Outfit", sans-serif;
}

@layer base {
    body {
        background-color: var(--color-dark-contrast);
        line-height: 1.6;
        margin: 0;
        padding: 0;
    }
}

@layer utilities {
    @keyframes neonWave {
        0%, 100% {
        text-shadow: none;
        }
        50% {
        text-shadow: 
            0 0 6px var(--color-accent-neon), 
            0 0 10px var(--color-accent-light), 
            0 0 14px var(--color-accent-neon);
        }
    }

    .animate-neon {
        animation: neonWave 3s ease-in infinite;
    }
}
